{{template "base" .}}

{{define "title"}}Create a New Snippet{{end}}

{{define "body"}}
<form action='/snippet/create' method='POST' enctype="multipart/form-data">
    <!-- 添加CSRFToken隐藏字段   -->
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{with .Form}}
        <div>
            <label>Title:</label>
            {{with .Errors.Get "title"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="title" value='{{.Get "title"}}'>
        </div>

        <div>
            <label>Content:</label>
            {{with .Errors.Get "content"}}
                <label class="error">{{.}}</label>
            {{end}}
            <textarea name="content">{{.Get "content"}}</textarea>
        </div>
        <!--    -->
        <div>
            <label>上传图片(最多上传两张)</label>
            {{with .Errors.Get "images"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="file" name="images" id="imageInput" accept="image/*" multiple>
            <div id="fileList"></div>
        </div>
        <script>
            let selectedFiles = [];

            document.getElementById('imageInput').addEventListener('change', function(event) {
                const fileList = event.target.files;

                // 将新选择的文件添加到已选择文件的数组中
                for (let i = 0; i < fileList.length; i++) {
                    selectedFiles.push(fileList[i]);
                }

                // 更新展示文件列表
                const fileListDisplay = document.getElementById('fileList');
                fileListDisplay.innerHTML = ''; // 清空之前的文件名

                // 遍历并展示所有已选择的文件
                for (let i = 0; i < selectedFiles.length; i++) {
                    const file = selectedFiles[i];
                    const listItem = document.createElement('div');
                    listItem.textContent = file.name;
                    fileListDisplay.appendChild(listItem);
                }
            });
        </script>

    <!--      -->
        <div>
            <label>Delete in:</label>
            {{with .Errors.Get "expires"}}
                <label class="error">{{.}}</label>
            {{end}}
            {{$exp := or (.Get "expires") "365"}}
            <input type="radio" name="expires" value="365" {{if eq $exp "365"}}checked{{end}}> One Year
            <input type="radio" name="expires" value="7" {{if eq $exp "7"}} checked {{end}}> One Week
            <input type="radio" name="expires" value="1" {{if eq $exp "1"}} checked {{end}}> One Day
        </div>
        <div>
            <input type="submit" value="Publish snippet">
        </div>
    {{end}}
</form>
{{end}}