{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
    <br>
    <h2>很高兴能在漂流盒子里与你相遇</h2>
    <p>记录一切你想要记录的，发生的，美好或是感伤，那都是我们所经历的</p>
    <p>你的每一段文字，都会给自己带来了回忆与力量。</p>
    <br>
    <div class="intro-text">
        <h2>最近的漂流盒子们</h2>
    </div>

    {{if .Snippets}}
    <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Snippets}}
        <tr>
            <td><a href='/snippet/{{.ID}}'>{{.Title}}</a></td>
            <!-- use the new template funciton here -->

            <td>{{humanDate .Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}