{{template "base" .}}

{{define "title"}}重置密码 {{end}}

{{define "body"}}
<form action="/user/resetpassword" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{with .Form}}
        <div>
            <label>新密码:</label>
            {{with .Errors.Get "password"}}
                <label class="error">{{.}}</label>
            {{end}}
            <!--   密码不需要重现   -->
            <input type="password" name="new_password">
        </div>
        <div>
            <label>确认新密码:</label>
            {{with .Errors.Get "password"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="password" name="confirm_password">
        </div>
        <div>
            <input type="submit" value="确认重置密码">
        </div>
    {{end}}
</form>
{{end}}