{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "body"}}
    {{with .Snippet}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{.Expires}}</time>
        </div>
    </div>
    {{end}}
    <!--   如果有图片，展示图片     -->
    {{if .Images}}
    <h3>相关图片:</h3>
    <div class="images">
        {{range .Images}}
        <img src="{{.}}" alt="Snippet Image" style="max-width: 300px;">
        {{end}}
    </div>
    {{end}}

{{end}}